[general]
wrks=-1
max_pkt_size=512
req_ttl=5000
gc_intvl=1000
wdt_intvl=1000
poll_timeo=100
tk_intvl=1000

[stats]
addr=127.0.0.1/8083

[fe_1]
type=fe
addr=127.0.0.1/53535
dscp=0x12
acts=acts_1

[acts_1]
type=act
0=0.0.0.0/0,*,*,^.*$,balance/rr/opendns_1|opendns_2

[opendns_1]
type=fwd
addr=2620:0:ccc::2/53
dscp=0x12
wdt_dscp=0x12
wdt_tries=3
wdt_query=. IN SOA
weight=1

[opendns_2]
type=fwd
addr=2620:0:ccd::2/53
dscp=0x12
wdt_dscp=0x12
wdt_tries=3
wdt_query=. IN SOA
weight=1
