[general]
wrks=-1
max_pkt_size=512
req_ttl=5000
gc_intvl=1000
wdt_intvl=1000
poll_timeo=100
tk_intvl=1000

[stats]
addr=127.0.0.1/8083

[sample_rr]
type=fe
addr=127.0.0.1/53535
dscp=0x12
acl=local/acl_1
fwds=opendns_1,opendns_2
mode=rr

[acl_1]
type=acl
0=subnet_1/request_1/action_1

[subnet_1]
type=subnet
0=0.0.0.0/0

[request_1]
type=req
0=*/*/regex/^.*$

[action_1]
type=act
0=accept/-

[opendns_1]
type=fwd
addr=2620:0:ccc::2/53
dscp=0x12
wdt_dscp=0x12
wdt_tries=3
wdt_query=. IN SOA
weight=1

[opendns_2]
type=fwd
addr=2620:0:ccd::2/53
dscp=0x12
wdt_dscp=0x12
wdt_tries=3
wdt_query=. IN SOA
weight=1

