[general]
rlimit=32768
frontends=fe_dns
request_ttl=10000
gc_interval=1000
watchdog_interval=1000

[stats]
enabled=1
layer3=ipv6
bind=::1
port=8083

[fe_dns]
workers=-1
dns_max_packet_length=4096
layer3=ipv6
bind=::1
port=53
backend=be_dns
acl=local/acl_1

[acl_1]
allow_all=ipv6/::/0/regex/list_all/allow/null

[list_all]
0=^.*$

[be_dns]
mode=rr
forwarders=frw_google_1,frw_google_2

[frw_google_1]
layer3=ipv6
host=2001:4860:4860::8888
port=53
check_attempts=3
check_timeout=500
check_query=. IN SOA
weight=1

[frw_google_2]
layer3=ipv6
host=2001:4860:4860::8844
port=53
check_attempts=3
check_timeout=500
check_query=. IN SOA
weight=1

